@media (max-width: 1400px) {
    // container + img sizes
    .blinkContainer {width: 30rem;}
    img.me {width: 25rem;}
    div.firstIntroTextContainer {width: 30rem;}

    // Text styling
    #typed {font-size: 80px; line-height: 65px;}
    .typed-cursor {font-size: 80px;}
    p.partTwo {font-size: 35px; line-height: 35px;}
    p.partThree {font-size: 28px;}
}


@media (max-width: 1200px) {
    .landingWrapper {
        height: auto;
    }
    .drawing {
        margin-left: 0;
        height: auto;
        display: flex;
        justify-content: center;
    }
    .drawingGroup {
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
    }

    .desktopDisplay,
    .desktopDisplay.fa-caret-up:before {
        display: none;
    }
    .mobileDisplay,
    .mobileDisplay.fa-caret-up:before {
        display: initial;
    }
    // container + img sizes
    .blinkContainer {
        width: 40rem;
        margin-top: 3rem;
    }
    //disable anchor on gif
    img.me {width: 35rem;}
    div.firstIntroTextContainer {width: 40rem;}

    // Text styling
    #typed {font-size: 120px; line-height: 100px;}
    .typed-cursor {font-size: 100px;}
    p.partTwo {font-size: 55px; line-height: 55px;}
    p.partThree {font-size: 28px; margin: 0;}
    p.clickDirection {
        width: 30rem;
        font-family: $ntr;
        font-size: 34px;
        font-weight: 200;
        color: $blue4;
        text-align: center;
        margin: 10rem 0;
        --animate-delay: 2s;
    }
}