@media (max-width: 1200px) {
    footer {
        margin: 0;
    }
}

@media (max-width: 500px) {
    .footerTexts {
        p {
            text-align: center;
            margin: 0 2rem;
        }
    }
}