@media (max-width: 1660px) {
    .projects {
        width: 95%;
    }
}

@media (max-width: 1200px) {
    .projects {
        width: 75%;
    }
    section.projectSection {
        flex-direction: column;
        height: auto;
        a.thumbnail {
            height: 30rem;
            width: 100%;
        }
        .projectDescription {
            width: 100%;
        }
    }
    .skillsUsed,
    .projectDescription h5,
    .developedWith,
    .appDetails,
    .codeLink {
        margin: 1rem 2rem;
    }
}

@media (max-width: 800px) {
    .projects {
        width: 95%;
    }
    section.projectSection {
        a.thumbnail {
            height: 25rem;
        }
    }
}

@media (max-width: 550px) {
    section.projectSection {
        a.thumbnail {
            height: 20rem;
        }
    }
}

@media (max-width: 400px) {
    section.projectSection {
        a.thumbnail {
            height: 15rem;
        }
    }
    .skillsUsed {
        p {
            padding: 6px 10px;
            margin-right: 8px;
            margin-bottom: 8px;
        }
    }
    .skillsUsed,
    .projectDescription h5,
    .developedWith,
    .appDetails,
    .codeLink {
        margin: 0.7rem 1.8rem;
    }
    .projectDescription h5 a {
        font-size: 40px;
        line-height: 30px;
    }
    p.appDetails {
        margin-right: 2rem;
    }
}