.drawing {
    margin: 0 auto 0 auto;
    height: 100vh;
    position: relative;
    margin-left: 8.5rem;
}

.drawingGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 40rem;
    margin-left: 8rem;
    //prevent content going under the sidebar:
    .traitsGroup {
        display: flex;
        justify-content: space-around;
    }
}

img.traits {
    width: 15rem;
}
img.me {
    height: 60%;
    position: absolute;
    bottom: 0;
}




.animate__animated {
    --animate-duration: 1s;
}
.drawingMediums {
    --animate-delay: 0.2s;
}
.me {
    --animate-delay: 1s;
}