.drawing {
    margin: 0 auto;
    width: 80%;
    height: 100vh;
    position: relative;
}

div.firstIntroGroup {
    position: absolute;
    right: 0;
    top: 0;
    width: 45%;
    height: 80%;
    margin-top: 8rem;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p.firstIntro {
    padding: 0 4rem;
    margin: 0;
    color: $grey3;
}
.partOneContainer p.partOne {
    font-family: $patrickSC;
    font-size: 70px;
    margin-bottom: 2rem;
    position: relative;
}
p.partTwo {
    font-family: $ntr;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 1rem;
}
p.partThree {
    font-family: $ntr;
    font-weight: 0;
    font-size: 18px;
    font-weight: 200;
    margin-bottom: 4rem;
    margin-left: 2rem;
}
p.clickDirection {
    font-family: $ntr;
    font-size: 20px;
}
img.me {
    height: 80%;
    position: absolute;
    bottom: 0;
    margin: 0 20rem;
    cursor: pointer;
    z-index: 20;
}