.visuallyHidden {
    position: absolute !important;
   top: -9999px !important;
   left: -9999px !important;
}

.formWrap {
    display: flex;
    justify-content: center;
    margin: 5rem 0;
    margin-top: 5rem;
    width: 100%;
    background-color: #ffffff;

}
.sideMessage {
    text-align: center;
    h6 {
        font-family: $rubik;
        font-size: 30px;
    }
    a {
        font-family: $rubik;
        font-size: 20px;
        text-decoration: none;
        color: #000000;
    }
}
.socialMedia .fab {
    font-size: 13px;
    color: #000000;
    padding: 10px;
    border-radius: 50%;
    border: 2px solid;
    margin: 5px;
}




.contactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    input {
        box-sizing: border-box;
        border: 1px solid #000000;
        width: 40rem;
        padding: 1.5rem;
        font-family: $rubik;
        font-size: 16px;
    }
    textarea {
        width: 40rem;
        resize: none;
        padding: 1.5rem;
        font-family: $rubik;
        font-size: 16px;
    }
}




.inputWrap {
    display: flex;
    margin-bottom: 2rem;
    .iconBox {
        box-sizing: border-box;
        background-color: #ffffff;
        border-top: 1px solid #000000;
        border-bottom: 1px solid #000000;
        border-left: 1px solid #000000;
        text-align: center;
        position: relative;
        flex-grow: 1;
        width: 68px;
        i {
            font-size: 14px;
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    }
}