.formWrap {
    display: flex;
    justify-content: center;
    margin: 0;
    background-color: #ffffff;
}
.sideMessage {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    h6 {
        font-family: $patrickSC;
        text-transform: lowercase;
        font-size: 60px;
        font-weight: 200;
        margin: 6rem 0 2rem 0;
        color: $grey3;
        span {
            color: $orange2;
        }
    }
    a {
        font-family: $ntr;
        font-size: 22px;
        text-decoration: none;
        color: #000000;
        i {
            font-size: 18px;
        }
    }
    a:hover {
        text-decoration: underline;
        color: $accentBlue;
    }
    p {
        width: 16rem;
        font-family: $ntr;
        font-size: 20px;
        margin-bottom: 4rem;
    }
}
ul.socialMedia {
    list-style: none;
    display: flex;
    justify-content: center;
    padding-inline-start: 0;
    margin-top: 2rem;
}
ul.socialMedia .fab {
    background-image: url(/assets/socialMediaIconbg.png);
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 18px;
    color: #000000;
    padding: 20px;
    margin: 5px;
    transition: 0.1s ease;
    width: 60px;
    height: 60px;
    transition: 0.2s ease;
}
ul.socialMedia .fab:hover {
    transform: scale(1.1);
    //blur around the box
    -webkit-filter: drop-shadow(0px 3px 3px $orange1);
    filter: drop-shadow(0px 3px 3px $orange1);
}



.contactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem;
}
input, textarea {
    font-family: $patrick;
    font-size: 24px;
    transition: 0.2s;
    border: none;
    outline: none;
    &:-webkit-autofill::first-line {
        font-family: $rubik;
        font-size: 20px;
    }
}

input {
    width: 30rem;
    padding: 2rem 2rem 2.2rem 4rem;
    background-image: url(/assets/formInputBg.png);
    background-size: contain;
    background-repeat: no-repeat;
}
input:focus {
    background-image: url(/assets/formInputBg2.png);
}


.messageInputBackground {
    width: 30rem;
    height: 18.3rem;
    background-image: url(/assets/messageInputBg.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    z-index: -10;
    transition: 0.2s;
}
textarea {
    padding: 1rem 2rem 2rem 2rem;
    resize: none;
    width: 29rem;
    height: 15rem;
    position: absolute;
    bottom: 7.5rem;
    background-color: transparent;
}
textarea:focus + .messageInputBackground {
    background-image: url(/assets/messageInputBg2.png);
    background-size: contain;
    background-repeat: no-repeat;
}



.buttons {
    button {
        background-image: url(/assets/formbutton.png);
        background-size: contain;
        background-repeat: no-repeat;
        border: none;
        color: #000000;
        background-color: #ffffff;
        padding: 1.7rem 0;
        text-align: center;
        text-decoration: none;
        font-family: $patrickSC;
        font-size: 24px;
        font-weight: 600;
        width: 17rem;
        margin-top: 0;
        transition: 0.2s;
        cursor: pointer;
    }
    button:hover {
        color: $yellow1;
    }
}




.inputWrap {
    display: flex;
    margin-bottom: 1rem;
    .iconBox {
        //The little icons in front of placeholders
        box-sizing: border-box;
        text-align: center;
        position: relative;
        left: -30;
        i {
            font-size: 14px;
            // the margin put the icon inside of the input
            margin: 0 0 0 2.2rem;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    }
}




::placeholder {
  color: #363636;
  opacity: 1;
}