//font imports for those that don't display properly through html
@import url('https://fonts.googleapis.com/css2?family=Dekko&family=Patrick+Hand+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=NTR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dekko&family=Farsan&family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Fredoka+One&family=NTR&display=swap');


*, *::after, *::before {
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-webkit-app-region: no-drag;
}
/* credit:https://gist.github.com/msuchodolski/41c9338f3a732379dc570142826ed76e */

html,
body {
    height: 100%;
    margin: 0;
    background-color: $grey2;
    background-image: url(/assets/repeatbackground.png);
}
.hovered {
    background-color: $blue3;
    background-image: url(/assets/repeatbackground2.png);
}
html {
  scroll-behavior: smooth;
}

.visuallyHidden {
    position: absolute !important;
   top: -9999px !important;
   left: -9999px !important;
}

.wrapper {
  position: relative;
}

main {
    min-height: 100vh;
    // margin to avoid content being under sidebar
    margin-left: 8.5rem;
}
@media (max-width: 1200px) {
  main {
      // sidebar margin needs to go in mobile ver.
      margin-left: 0;
  }
}

.noDisplay {
  display: none;
}

.overHidden {
  // this class will hide all overflows
  overflow-x: hidden;
  overflow-y: hidden;
}

.landingWrapper {
    display: flex;
    height: 100vh;
}
// .wrapper {
//     display: flex;
//     justify-content: space-between;
// }


h2 {
    font-family: $fredoka;
    font-size: 50px;
    font-weight: 400;
    margin: 0;
    // margin-top: 5rem;
    padding: 70px 0 10px 0;
    background-color: $bgGrey;
    background-image: url(/assets/slashbackground.png);
    text-align: center;
    letter-spacing: 0.2rem;
    box-sizing: border-box;
    border: 15px solid #ffffff;

    //border around text
    text-shadow: 1px 1px 0 #ffffff,
    -1px -1px 0 #ffffff,  
    1px -1px 0 #ffffff,
    -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff;
    span {
        color: $accentBlue;
        text-shadow: none;
    }
}

// // h2 font size changes for mobile ver.
// @media (max-width: 800px) {
//    h2 {padding: 70px 50px 10px 50px;}
// }