html,
body {
    height: 100%;
    margin: 0;
    background-color: $grey2;
    background-image: url(/assets/repeatbackground.png);
}
html {
  scroll-behavior: smooth;
}

.wrapper {
  position: relative;
}

.overHidden {
  overflow-x: hidden;
}

.landingWrapper {
    display: flex;
    height: 100vh;
}
// .wrapper {
//     display: flex;
//     justify-content: space-between;
// }


