header {
    position: sticky;
    left: 0;
    top: 0;
    height: 100vh;
    width: 30rem;
    overflow-x: hidden;
    overflow-y: auto;
}


header,
.profile,
nav,
.navigationLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
}
ul {
    padding-inline-start: 0; // gets rid of the padding from the bullet
    li { // Gets rid of the list bullets
        list-style: none;
    }
}
.socialMedia {
    display: flex;
}


header {
    background-color: $blue1;
    background: linear-gradient(180deg, rgba(120,129,153,1) 71%, rgba(146,149,157,1) 100%);
}

.profile {
    margin-bottom: 40px;
    text-align: center;
    img{
        border: 4px solid $yellow1;
        border-radius: 50%;
        width: 45%;
        margin-top: 60px;
    }
    h1 {
        font-family: $sulphur;
        font-size: 50px;
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 0;
        color: #ffffff;
    }
    h1::after {
        content: '';
        display: block;
        height: 0.8rem;
        width: 35%;
        border-bottom: 1px solid #ffffff;
        margin: 0 auto;
    }
    h2 {
        font-family: $sulphur;
        font-weight: 300;
        font-size: 16px;
        margin-top: 1.1rem;
        color: #ffffff;
    }
}

.navigationLinks li {
    margin: 7px 0;
    a {
        font-family: $khula;
        font-size: 20px;
        font-weight: 800;
        text-transform: uppercase;
        text-decoration: none;
        color: #ffffff;
        padding: 5px 8px 0 8px;
        transition: 0.1s;
    }
    a:hover {
        color: #000000;
        background-color: $yellow1;
    }
}



.designCredit {
    font-family: $rubik;
    font-weight: 200;
    font-size: 12px;
    color: #ffffff;
    margin-top: 0;
}