.moreInfo {
    height: 100vh;
    position: relative;
}
.infoBubble {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 40rem;
    margin-right: 10rem;
    margin-bottom: 4rem;
    //bubble style:
    background-color: $yellow1;
    border: 1px solid transparent;
    border-radius: 10%;
    padding: 6rem;
}
// the triangle on the bubble
.infoBubble:after {
  border: 58px solid transparent;
  border-right-color: $yellow1;
  content: '';
  height: 0px;
  left: -47em;
  bottom: 10rem;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 0px;
}




p.meInfoParagraph {
    font-family: $montserrat1;
    font-size: 18px;
    line-height: 30px;
}