main {
    // width: 93%;
    margin: 0 0 0 auto;
    min-height: 100vh;
    margin-left: 8.5rem;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
}

.introduction {
    min-height: 100vh;
    background-color: #ffffff;
}

.aboutMe {
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
    margin-bottom: 4rem;
    .aboutMeTexts {
        display: flex;
        flex-direction: column;
        h3 {
            font-family: $montserrat2;
            font-weight: 500;
            font-size: 50px;
            margin-left: 11rem;
            margin-top: 0;
            margin-bottom: 0;
        }
        h4.questions {
            font-family: $montserrat2;
            font-size: 18px;
            font-weight: 700;
            margin: 2rem 5rem 1rem 11rem;
        }
        p.answers {
            width: 800px;
            line-height: 22px;
            font-family: $montserrat1;
            font-size: 17px;
            margin: 0 5rem 0 11rem;
            line-height: 30px;
        }
        p.answers:first-of-type {
            margin: 2rem 5rem 1rem 11rem;
            span.aboutMeSpanSmall {
                background-color: #77ffd2;
        }
    }
    
    }
    .photo {
        width: 550px;
        height: 550px;
        background-color: $grey1;
        margin-right: 6rem;
    }
}
