.introduction {
    min-height: 100vh;
    background-color: #ffffff;
}

.aboutMe {
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
    margin-bottom: 4rem;
    .aboutMeTexts {
        display: flex;
        flex-direction: column;
        h3 {
            font-family: $patrickSC;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 77px;
            line-height: 40px;
            margin-left: 15rem;
            margin-top: 2rem;
            margin-bottom: 0;
            color: $grey3;
            span {
                color: $pink1;
            }
        }
        h4.questions {
            font-family: $montserrat2;
            font-size: 20px;
            font-weight: 600;
            margin: 2rem 5rem 0.3rem 11rem;
            color: $grey3;
        }
        p.answers {
            width: 800px;
            font-family: $ntr;
            font-size: 22px;
            margin: 0 5rem 1rem 12.2rem;
            line-height: 36px;
            a {
                color: $accentBlue;
            }
        }
        p.answers:first-of-type {
            margin: 1.4rem 5rem 1rem 16rem;
            span.aboutMeSpanSmall {
                color: $accentBlue;
                font-weight: 600;
            }
        }
    }
    .photo {
        width: 500px;
        height: 700px;
        background-color: $grey1;
        margin-right: 6rem;
    }
}


.resumeButtonsGroup {
    margin-left: 12rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
a.resumeButton {
    font-family: $montserrat1;
    text-decoration: none;
    font-size: 14px;
    padding: 1rem 1.3rem;
    margin-right: 2rem;
    //button styling, gradients and round borders
    background-color: $grey3;
    // border: 1px solid $orange1;
    // border-radius: 4px 15px 4px 10px;
    //hover transition time
    transition: all ease 0.4s;
    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: 10px;
    color: #ffffff;
    i {
        color: #ffffff;
    }
}
a.resumeButton:hover {
    box-shadow: inset 13em 0 0 0.01px $grey2;
    // border: 1px solid $blue2;
    color: #000000;
    i {
        color: #000000;
    }
}
a.resumeButton:active {
    // move anchor button down when clicked
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
}