main {
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
}

.introduction {
    min-height: 100vh;
    background-color: #ffffff;
    margin-bottom: 5rem;
    h3 {
        font-family: $montserrat2;
        font-size: 50px;
        font-weight: 600;
        margin: 0;
        padding: 70px 100px 2px 6rem;
        background-color: $yellow1;
        letter-spacing: 0.2rem;
        width: calc(100% + 1px);
        box-sizing: border-box;
        border: 15px solid #ffffff;
    }
    p {
        font-family: $montserrat1;
        font-size: 20px;
        margin: 0 6rem;
        margin-top: 40px;
        line-height: 35px;
    }
}

.aboutMe {
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
    margin-bottom: 5rem;
    p {
        width: 600px;
        line-height: 35px;
    }
    .photo {
        width: 500px;
        height: 500px;
        background-color: $grey1;
        margin-right: 6rem;
    }
}
