.burgerIconBox {
    display: none;
    .mobileMenuIcon {
        position: fixed;
        border: none;
        text-decoration: none;
        height: 3.5rem;
        width: 100%;
        background-color: $grey3;
        transition: 0.2s ease;
        position: fixed;
        z-index: 49;
        i {
            font-size: 30px;
            cursor: pointer;
            z-index: 50;
        }
    }
}
.burgerIcon i {
    color: #ffffff;
}
.closeIcon i {
    color: #ffffff;
}
.overheadHeader {
    width: 100%;
    height: 0;
    position: fixed;
    background-color: $grey3;
    opacity: 0;
    z-index: 30;
    visibility: hidden;
    overflow: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    &.open {
        opacity: .9;
        visibility: visible;
        height: 100vh;
    }
}
.overheadNavLinks {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: absolute;
    list-style-type: none;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    padding-inline-start: 0;
        li {
            margin-bottom: 2rem;
            animation: fadeInDown .5s ease forwards;
            animation-delay: .35s;
            transition: 0.2s;
            padding: 1rem 2rem;
            text-align: center;
            a {
                color: #ffffff;
                font-family: $patrick;
                font-size: 40px;
                font-weight: 400;
                text-transform: uppercase;
                text-decoration: none;
                transition: 0.2s;
                text-align: center;
            }
        }
        li:hover {
            background-color: $yellow1;
            a {
            color: #000000;
        }
    }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}


