// text color in this section are $darkGrey
.skillesUsed p,
h5 a,
p.appDetails,
a.codeLink {
    color: $darkGrey;
}

.projects {
    margin: 0 auto 10rem auto;
    width: 80%;
}
.projectSection {
    display: flex;
    margin-top: 3rem;
    height: 500px;
    justify-content: center;
    overflow: hidden;
    border: 1px solid transparent;
    border-radius: 30px;
    .thumbnail {
        width: 50%;
        background-color: $yellow1;
        z-index: -10;
        overflow: hidden;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }
    .thumbnail:hover {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    .projectDescription {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        background-color: #ffffff;
        z-index: 10;
    }
}

.project1 .thumbnail {
    background-image: url(/assets/haikuAhoy.jpg);
    background-size: cover;
    background-position: center;
}

.project2 .thumbnail {
    background-image: url(/assets/takeASip.jpg);
    background-size: cover;
    background-position: center;
}
.project3 .thumbnail {
    background-image: url(/assets/pokemon.jpg);
    background-size: cover;
    background-position: center;
}

// side margins for description section and skills used
.skillsUsed,
.projectDescription h5,
.developedWith,
.appDetails,
.codeLink {
    margin: 0 2rem;
}

.skillsUsed {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    p {
        color: $darkGrey;
        padding: 10px 10px;
        background-color: $yellow1;
        font-size: 12px;
        margin-right: 15px;
        margin-top: 0;
    }
}
.projectDescription {
    font-family: $montserrat1;
    h5 {
        position: relative;
        text-shadow:
        3px 3px #ffffff,
        3px -3px #ffffff,
        -3px 3px #ffffff,
        -3px -3px #ffffff;
        display: inline-block;
        line-height: 1.2;
        transition: 0.2s ease;
       a {
            text-decoration: none;
            font-size: 40px;
            font-family: $short;
        } 
    } 
}
h5:hover {
    a {
        color: $blue3;
    }
}
h5:hover::before {
    //underline effect
    content: " ";
    position: absolute;
    width: 94%;
    height: 1px;
    bottom: 0;
    left: 3%;
    border-bottom: 4px solid $blue3;
    z-index: -1;
}

a.codeLink {
    font-family: $short;
    text-decoration: none;
    font-size: 14px;
    padding: 0.5rem 0.8rem;
    
    //button styling, gradients and round borders
    background-color: $orange1;
    border: 1px solid transparent;
    border-radius: 4px 15px 4px 10px;
    //hover transition time
    transition: 0.1s;
}
.codeLink:hover {
    background-color: $yellow1;
    box-shadow: 0px 2px 4px 0px $orange1;
}
.codeLink:active {
    // move anchor button down when clicked
    -webkit-transform: translateY(1px);
	transform: translateY(1px);
}


p.developedWith {
    font-size: 14px;
    margin-bottom: 2rem;
}
p.appDetails {
    font-size: 14px;
    line-height: 26px;
    margin-right: 4rem;
}
.developedWith a {
    color: $blue1;
    transition: 0.1s;
}
.developedWith a:hover {
    background-color: $grey3;
    color: #ffffff;
    text-decoration: none;
}
