
.sidebar {
    left: 0;
    top: 0;
    height: 100vh;
    position: fixed;
    width: 8.5rem;
    background-color: $darkGrey;
    z-index: 50;
    img {
        z-index: 51;
        width: 200px;
    }
}

.navigationLinks {
    display: flex;
    flex-direction: column;
    margin-top: 8rem;
    margin-left: 2rem;
}
ul.navigationLinks {
    padding-inline-start: 0; // gets rid of the padding from the bullet
    li { // Gets rid of the list bullets
        list-style: none;
        display: flex;
        justify-content: flex-start;
    }
}

.hoverBubble {
    margin-top: 0.7rem;
    margin-left: 1.5rem;
    z-index: 52;
    .tooltip {
        background-image: url(/assets/navTooltip.png);
        background-size: contain;
        background-repeat: no-repeat;
        width: 210px;
        height: 60px;
    }
}

p.bubbleText {
    text-align: center;
    padding-top: 20px;
    margin-left: 0.7rem;

    // font-styles
    font-family: $short;
    font-size: 18px;
    font-weight: 100;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
}


img.navIcons {
    width: 60px;
    margin-top: 2rem;
}
// jiggle effect from:https://jsfiddle.net/sunnypmody/8gdEr/
img.navIcons:hover {
    -webkit-animation: jiggle 0.2s infinite;
    -moz-animation-duration: 0.2s;
    -moz-animation-name: jiggle;
    -moz-animation-iteration-count: infinite;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
}
@-moz-keyframes jiggle {
    0% {
        -moz-transform: rotate(-1.5deg);
    }
    50% {
        -moz-transform: rotate(1.5deg);
    }
}

@-webkit-keyframes jiggle {
    0% {
        -webkit-transform: rotate(-1.5deg);
        }
    50% {
        -webkit-transform: rotate(1.5deg);
    }
}
// jiggle effect from:https://jsfiddle.net/sunnypmody/8gdEr/


// hoverBubbles disappear when not needed
.hoverBubble {
    display: none;
    transition: 0.1s;
}
// When hovered, the respective bubbles show up
// + is used since the bubble element is next to hovered element's closing tag
#topNav:hover + .topBubble,
#projectsNav:hover + .projectsBubble,
#introNav:hover + .introBubble,
#contactNav:hover + .contactBubble {
    display: initial;
}