.skills {
    display: flex;
    align-items: center;
    justify-content: center;
    // min-height: 100vh;
    padding-bottom: 7rem;
    background-color: #ffffff;
    .skillsContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}
.skillWrap {
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px solid transparent;
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    margin: 0.5rem;
    text-align: center;
    color: #2e2e2e;
    transition: 0.1s cubic-bezier(0,.87,1,.53);
    //flex
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
        font-family: $short;
        font-size: 14px;
        font-weight: 400;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
    ///////////icon sizes////////////
    i {
        font-size: 50px;
    }
    .fas {
        font-size: 50px;
    }
    i.fa-sass {
        font-size: 47px;
    }
    i.fa-terminal {
        font-size: 45px;
        margin-bottom: 5px;
    }
    img.firebaseIcon {
        width: 50px;
        height: 50px;
    }
    /////////////colour changes for each .icons/////////////
    i.fa-html5 {
        color: #ff6638;
    }
    i.fa-css3-alt {
        color: #0084ff;
    }
    i.fa-sass {
        color: #ff80c1;
    }
    i.fa-js-square {
        color: #f6bd00;
    }
    i.devicon-jquery-plain {
        color: #2f60a8;
    }
    i.fa-cog {
        color: #009b99;
    }
    i.devicon-react-original {
        color: #5fb8d6;
    }
    i.devicon-git-plain {
        color: #e45535;
    }
    i.fa-terminal {
        color: #1f426e;
    }
    i.fa-mobile-alt {
        color: #ff3f3f;
    }
    i.fa-universal-access {
        color: #09a155;
    }
}