$blue1: #788199;
$grey1: #92959d;
$yellow1: #ffdd65;

$blue2: #a9aebe; //light blue
$grey2: #e9e9eb; //light grey for the background
$grey3: #1a1a1a; //dark grey


// new colours
$bgGrey: #e6e6e6; // background grey
$darkGrey: #1a1a1a; // dark grey
$accentBlue: #006c6f; // blue used for sweater as an accent color


// fonts
$khula: 'Khula', sans-serif; // nav list font
$merriweather: 'Merriweather', serif;
$play: 'Play', sans-serif; // header intro font
$rubik: 'Rubik', sans-serif;// footer copyright font
$montserrat1: 'Montserrat', sans-serif; // content p font
$montserrat2: 'Montserrat Alternates', sans-serif; //category font
$sulphur: 'Sulphur Point', sans-serif; // header name font

$short: 'Short Stack', cursive; // handwriting font for assets