$blue1: #788199;
$grey1: #92959d;
$yellow1: #ffdd65;
$yellow2: #fffbdb;

$blue2: #a9aebe; //light blue
$grey2: #e9e9eb; //light grey for the background
$grey3: #2e2e2e; //dark grey


// new colours
$bgGrey: #e6e6e6; // background grey
$darkGrey: #1a1a1a; // darker grey
$accentBlue: #006c6f; // blue used for sweater as an accent color
$blue3: #3a99aa; // underline for project hover
$orange1: #f1a037;
$orange2: #df8321;
$pink1: #e4487c;


// fonts
$merriweather: 'Merriweather', serif;
$play: 'Play', sans-serif; // header intro font
$rubik: 'Rubik', sans-serif;// footer copyright font
$montserrat1: 'Montserrat', sans-serif; // content p font
$montserrat2: 'Montserrat Alternates', sans-serif; //category font
$sulphur: 'Sulphur Point', sans-serif; // header name font

$short: 'Short Stack', cursive; // handwriting font for assets
$ntr: 'NTR', sans-serif; // long paragraph font
$patrick: 'Patrick Hand', cursive;
$patrickSC: 'Patrick Hand SC', cursive;
$dokdo: 'East Sea Dokdo', cursive;
$fredoka: 'Fredoka One', cursive;