html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html,
body {
  height: 100%;
  margin: 0;
  background-color: #e9e9eb;
  background-image: url(/assets/repeatbackground.png);
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  position: relative;
}

.overHidden {
  overflow-x: hidden;
}

.landingWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

h2 {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 50px;
  font-weight: 800;
  margin: 0;
  padding: 70px 100px 2px 100px;
  background-color: #e6e6e6;
  background-image: url(/assets/slashbackground.png);
  text-align: center;
  letter-spacing: 0.2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 15px solid #ffffff;
  text-shadow: 1px 1px 0 #ffffff, -1px -1px 0 #ffffff,   1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}

h2 span {
  color: #006c6f;
  text-shadow: none;
}

.sidebar {
  left: 0;
  top: 0;
  height: 100vh;
  position: fixed;
  width: 8.5rem;
  background-color: #1a1a1a;
  z-index: 50;
}

.sidebar img {
  z-index: 51;
  width: 200px;
}

.navigationLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 8rem;
  margin-left: 2rem;
}

ul.navigationLinks {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

ul.navigationLinks li {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.hoverBubble {
  margin-top: 0.7rem;
  margin-left: 1.5rem;
  z-index: 52;
}

.hoverBubble .tooltip {
  background-image: url(/assets/navTooltip.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 210px;
  height: 60px;
}

p.bubbleText {
  text-align: center;
  padding-top: 20px;
  margin-left: 0.7rem;
  font-family: "Short Stack", cursive;
  font-size: 18px;
  font-weight: 100;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

img.navIcons {
  width: 60px;
  margin-top: 2rem;
}

img.navIcons:hover {
  -webkit-animation: jiggle 0.2s infinite;
  -moz-animation-duration: 0.2s;
  -moz-animation-name: jiggle;
  -moz-animation-iteration-count: infinite;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
}

@-webkit-keyframes jiggle {
  0% {
    -webkit-transform: rotate(-1.5deg);
  }
  50% {
    -webkit-transform: rotate(1.5deg);
  }
}

.drawing {
  margin: 0 auto 0 auto;
  height: 100vh;
  position: relative;
  margin-left: 8.5rem;
}

.drawingGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 40rem;
  margin-left: 8rem;
}

.drawingGroup .traitsGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

img.traits {
  width: 15rem;
}

img.me {
  height: 60%;
  position: absolute;
  bottom: 0;
}

.animate__animated {
  --animate-duration: 1s;
}

.drawingMediums {
  --animate-delay: 0.2s;
}

.me {
  --animate-delay: 1s;
}

.moreInfo {
  height: 100vh;
  position: relative;
}

.infoBubble {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 40rem;
  margin-right: 10rem;
  margin-bottom: 4rem;
  background-color: #ffdd65;
  border: 1px solid transparent;
  border-radius: 10%;
  padding: 6rem;
}

.infoBubble:after {
  border: 58px solid transparent;
  border-right-color: #ffdd65;
  content: '';
  height: 0px;
  left: -47em;
  bottom: 10rem;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 0px;
}

p.meInfoParagraph {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 30px;
}

main {
  margin: 0 0 0 auto;
  min-height: 100vh;
  margin-left: 8.5rem;
}

.introduction {
  min-height: 100vh;
  background-color: #ffffff;
  margin-bottom: 5rem;
}

.aboutMe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.aboutMe p {
  width: 800px;
  line-height: 42px;
  padding-left: 5rem;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  margin: 0 6rem;
  margin-top: 40px;
  line-height: 45px;
}

.aboutMe p span.aboutMeSpan {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  font-size: 50px;
}

.aboutMe p span.aboutMeSpanSmall {
  background-color: #77ffd2;
}

.aboutMe .photo {
  width: 500px;
  height: 500px;
  background-color: #92959d;
  margin-right: 6rem;
}

.burgerIconBox {
  position: absolute;
  top: 1rem;
  left: 96%;
  z-index: 35;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.burgerIconBox .mobileMenuIcon {
  position: fixed;
  border: none;
  background-color: transparent;
  text-decoration: none;
}

.burgerIconBox .mobileMenuIcon i {
  font-size: 50px;
  cursor: pointer;
}

.burgerIcon i {
  color: #000000;
}

.closeIcon i {
  color: #ffffff;
}

.overheadHeader {
  width: 100%;
  height: 0;
  position: fixed;
  background-color: #1a1a1a;
  opacity: 0;
  z-index: 30;
  visibility: hidden;
  overflow: hidden;
  -webkit-transition: opacity .35s, visibility .35s, height .35s;
  transition: opacity .35s, visibility .35s, height .35s;
}

.overheadHeader.open {
  opacity: .9;
  visibility: visible;
  height: 100vh;
}

.overheadNavLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.overheadNavLinks li {
  margin-bottom: 4rem;
  -webkit-animation: fadeInDown .5s ease forwards;
          animation: fadeInDown .5s ease forwards;
  -webkit-animation-delay: .35s;
          animation-delay: .35s;
}

.overheadNavLinks li a {
  color: #ffffff;
  font-family: "Khula", sans-serif;
  font-size: 40px;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  margin-right: 3rem;
}

.overheadNavLinks li a:hover {
  color: #000000;
  background-color: #ffdd65;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

header.overheadHeader {
  display: none;
}

.burgerIconBox {
  display: none;
}

.drawing {
  margin: 0 auto 0 auto;
  height: 100vh;
  position: relative;
  margin-left: 8.5rem;
}

.drawingGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 40rem;
  margin-left: 8rem;
}

.drawingGroup .traitsGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

img.traits {
  width: 15rem;
}

img.me {
  height: 60%;
  position: absolute;
  bottom: 0;
}

.animate__animated {
  --animate-duration: 1s;
}

.drawingMediums {
  --animate-delay: 0.2s;
}

.me {
  --animate-delay: 1s;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 4rem;
  padding-bottom: 7rem;
  background-color: #ffffff;
}

.skills .skillsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70rem;
}

.skillWrap {
  background-size: contain;
  background-repeat: no-repeat;
  border: 1px solid transparent;
  border-radius: 50%;
  margin: 1rem;
  width: 9rem;
  height: 9rem;
  text-align: center;
  color: #2e2e2e;
  -webkit-transition: 0.1s cubic-bezier(0, 0.87, 1, 0.53);
  transition: 0.1s cubic-bezier(0, 0.87, 1, 0.53);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skillWrap p {
  font-family: "Short Stack", cursive;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 2rem;
}

.skillWrap i {
  font-size: 70px;
}

.skillWrap .fas {
  font-size: 70px;
}

.skillWrap i.fa-sass {
  font-size: 67px;
}

.skillWrap i.fa-terminal {
  font-size: 55px;
}

.skillWrap img.firebaseIcon {
  width: 80px;
  height: 80px;
}

.skillWrap i.fa-html5 {
  color: #ff6638;
}

.skillWrap i.fa-css3-alt {
  color: #0084ff;
}

.skillWrap i.fa-sass {
  color: #ff80c1;
}

.skillWrap i.fa-js-square {
  color: #f6bd00;
}

.skillWrap i.devicon-jquery-plain {
  color: #2f60a8;
}

.skillWrap i.fa-cog {
  color: #009b99;
}

.skillWrap i.devicon-react-original {
  color: #5fb8d6;
}

.skillWrap i.devicon-git-plain {
  color: #e45535;
}

.skillWrap i.fa-terminal {
  color: #1f426e;
}

.skillWrap i.fa-mobile-alt {
  color: #ff3f3f;
}

.skillWrap i.fa-universal-access {
  color: #09a155;
}

.projects {
  margin: 0 auto 10rem auto;
  width: 80%;
}

.projectSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projectSection .thumbnail {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 10px double #ffdd65;
  width: 50%;
  height: 500px;
  background-color: #ffdd65;
}

.projectSection .projectDescription {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project1 .thumbnail {
  background-image: url(/assets/haikuAhoy.jpg);
  background-size: cover;
  background-position: center;
}

.project2 .thumbnail {
  background-image: url(/assets/takeASip.jpg);
  background-size: cover;
  background-position: center;
}

.project3 .thumbnail {
  background-image: url(/assets/pokemon.jpg);
  background-size: cover;
  background-position: center;
}

.skillsUsed,
.projectDescription h5 a,
.developedWith,
.appDetails {
  margin: 0 2rem;
}

.skillsUsed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 2rem;
}

.skillsUsed p {
  padding: 10px 10px;
  background-color: #ffdd65;
  font-size: 12px;
  margin-right: 15px;
}

.projectDescription {
  font-family: "Montserrat", sans-serif;
}

.projectDescription h5 {
  margin-bottom: 0;
}

.projectDescription h5 a {
  text-decoration: none;
  color: #000000;
  font-size: 40px;
  font-family: "Short Stack", cursive;
}

.codeLink {
  font-family: "Short Stack", cursive;
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  padding: 0.5rem;
  background-image: url(/assets/checkCodebg.png);
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.codeLink:hover {
  background-image: url(/assets/checkCodebg2.png);
  color: #ffffff;
}

.developedWith {
  font-size: 14px;
  margin-bottom: 2rem;
}

.appDetails {
  font-size: 14px;
  line-height: 26px;
  margin-right: 4rem;
}

.developedWith a {
  color: #788199;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.developedWith a:hover {
  background-color: #1a1a1a;
  color: #ffffff;
  text-decoration: none;
}

.visuallyHidden {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.formWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5rem 0;
  margin-top: 5rem;
  width: 100%;
  background-color: #ffffff;
}

.sideMessage {
  text-align: center;
}

.sideMessage h6 {
  font-family: "Rubik", sans-serif;
  font-size: 30px;
}

.sideMessage a {
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  text-decoration: none;
  color: #000000;
}

.socialMedia .fab {
  font-size: 13px;
  color: #000000;
  padding: 10px;
  border-radius: 50%;
  border: 2px solid;
  margin: 5px;
}

.contactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5rem;
}

.contactForm input, .contactForm textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #000000;
  padding: 1.5rem;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.contactForm input {
  width: calc(35rem - 68px);
}

.contactForm textarea {
  width: 35rem;
  resize: none;
}

.buttons button {
  background-color: #ffdd65;
  border: none;
  color: #000000;
  padding: 1.5rem 0;
  text-align: center;
  text-decoration: none;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 16px;
  font-weight: 800;
  width: 35rem;
  margin-top: 2rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.buttons button:hover {
  background-color: #1a1a1a;
  color: #ffdd65;
}

.inputWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
}

.inputWrap .iconBox {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffffff;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-left: 1px solid #000000;
  text-align: center;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 68px;
}

.inputWrap .iconBox i {
  font-size: 14px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.designCredit {
  font-family: "Rubik", sans-serif;
  font-weight: 200;
  font-size: 12px;
  color: #ffffff;
  margin-top: 0;
}

header.overheadHeader {
  display: none;
}

.burgerIconBox {
  display: none;
}
